		<!-- MAIN PANEL -->
		<div role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"> <i class="fa fa-refresh"></i> </span> </span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>
						Admin
					</li>
					<li>
						Gestionar Usuarios
					</li>
					<li>
						Información de Usuarios
					</li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->			
			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Usuarios <span>> todos los usuarios</span></h1>
					</div>
				</div>
							<!-- widget grid -->
							<section id="widget-grid" class="">

								<!-- row -->
								<div class="row">
									
									<!-- NEW WIDGET START -->
									<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
											<header>
												<span class="widget-icon"> <i class="fa fa-table"></i> </span>
												<h2>Todos los usuarios </h2>

											</header>

											<!-- widget div-->
											<div>

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->

												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body no-padding">

													<table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
								
														<thead>
															<tr>
																<th class="hasinput" style="width:10%">
																	<input type="text" class="form-control" placeholder="Ticket No." />
																</th>
																<th class="hasinput" style="width:20%">
																	<input type="text" class="form-control" placeholder="Titulo" />
																</th>
																<th class="hasinput" style="width:15%">
																	<input type="text" class="form-control" placeholder="Cliente" />
																</th>
																<th class="hasinput" style="width:15%">
																	<input type="text" class="form-control" placeholder="Ciudad" />
																</th>
																<th class="hasinput" style="width:15%">
																	<input type="text" class="form-control" placeholder="Tienda" />
																</th>
																<th class="hasinput icon-addon">
																	<input id="dateselect_filter" type="text" placeholder="Fecha" class="form-control datepicker" data-dateformat="yy/mm/dd">
																	<label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Purchase Date"></label>
																</th>
																<th class="hasinput" style="width:10%">
																	<input type="text" class="form-control" placeholder="Estado" />
																</th>													
															</tr>
															<tr>
																<th data-class="expand">Empresa</th>
																<th >Username</th>
																<th data-hide="phone,tablet">Nombre</th>
																<th data-hide="phone,tablet">Apellido</th>
																<th data-hide="phone,tablet">Aprobado?</th>								                    
																<th data-hide="phone,tablet">Fecha Creación</th>
																<th >Editar</th>
															</tr>
														</thead>

														<tbody>
															{{#each users}}
															<tr>
																<td align="center">{{userType}}</td>
																<td align="center">{{username}}</td>
																<td align="center">{{name}}</td>
																<td align="center">{{lastname}}</td>
																<td align="center">{{userApproval}}</td>
																<td align="center">{{formatDate createdOn "YYYY/MM/DD"}}</td>
																<td><a style="text-decoration: none" href="/admin/listUsers/editUser?userId={{id}}"><button class="btn btn-info center-block padding-5 label view-ticket"
																>
																	Seleccionar
																</button></a></td>
															</tr>
															{{/each}}
														</tbody>
																			
													</table>

												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>
										<!-- end widget -->

									</article>
									<!-- WIDGET END -->
									
								</div>

								<!-- end row -->

								<!-- row -->

								<div class="row">

									<!-- a blank row to get started -->
									<div class="col-sm-12">
										<!-- your contents here -->
									</div>
										
								</div>

								<!-- end row -->

							</section>
							<!-- end widget grid -->
			</div>
			<!-- END MAIN CONTENT -->
							<!-- Ticket Info Modal -->
							<form method ="post" action="/admin/customers/ticket/edit">
							<div class="modal fade" id="EditUserInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										
											<input type="hidden" id="edit-ticket-id" name="ticketId">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
													&times;
												</button>
												<h4 class="modal-title" id="myModalLabel">Detalle de Ticket</h4>
											</div>
											<div class="modal-body">
												<!--Ticket No. ---<o>--- Titulo del Ticket-->
												<div class="row">
													<div class = "col-md-4">
														<div class="form-group">
															<label for="edit-ticket-number"><small><b>Ticket No.:</b></small></label>
															<input type="text" class="form-control" placeholder="Ticket No." required name="ticketNum" id="edit-ticket-number" disabled align="center"/>
														</div>
													</div>
													<div class = "col-md-8">
														<div class="form-group">
															<label for="edit-ticket-title"><small><b>Título:</b></small></label>
															<input type="text" class="form-control" placeholder="Titulo del Ticket" required name="ticketTitle" id="edit-ticket-title"/>
														</div>
													</div>	
												</div>
												<!--Fecha Inicio ---<o>--- Last Update-->
												<div class="row">
													<div class = "col-md-6">
														<div class="form-group">
															<label for="openningDate"><small><b>Fecha Creación:</b></small></label>
															<input type="text" class="form-control" placeholder="Fecha de Creación" required name="openningDate" id="openningDate" disabled/>
														</div>										
													</div>										
													<div class = "col-md-6">
														<div class="form-group">
															<label for="lastUpdate"><small><b>Ultima Modificación:</b></small></label>
															<input type="text" class="form-control" placeholder="Ultima Modificación" required name="lastUpdate" id="lastUpdate" disabled/>
														</div>
													</div>
												</div>
												<!--Tienda ---<o>--- Ciudad-->
												<div class="row">
													<div class = "col-md-6">
														<div class="form-group">
															<label for="edit-ticket-city"><small><b>Ciudad:</b></small></label>
															<input type="text" class="form-control" placeholder="Ciudad" required name="ticketCity" id="edit-ticket-city" disabled/>
														</div>										
													</div>										
													<div class = "col-md-6">
														<div class="form-group">
															<label for="edit-ticket-store"><small><b>Tienda:</b></small></label>
															<input type="text" class="form-control" placeholder="Tienda" required name="ticketStore" id="edit-ticket-store" disabled/>
														</div>
													</div>
												</div>
												<!--Descripción-->
												<div class = "row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="edit-ticket-description"><small><b>Descripción:</b></small></label>
															<textarea class="form-control" placeholder="Descripción" rows="2" name="ticketDesc" id="edit-ticket-description"></textarea>
														</div>
													</div>
												</div>									
												<div class="row">
													<div class="col-md-12">
														<div class="well well-sm well-primary">
															<form class="form form-inline " role="form">
																<div class="form-group">
																	<input id="dateselect_filter2" type="text" placeholder="Fecha" class="form-control datepicker" name= "ticketLastUpdate" data-dateformat="dd/mm/yy" align="center">																	
																</div>
																<div class="form-group">
																	<select class="form-control" id= "edit-ticket-status" name="ticketStatus">
																		<optgroup label="Estado">
																			<option disabled selected value>Seleccionar</option>
																			<option>Pendiente</option>
																			<option>Asignado</option>
																			<option>Finalizado</option>
																		</optgroup>
																	</select>
																</div>								
																<div class="form-group">
																	<button type="button" class="btn btn-default btn-sm">
																		<span class="glyphicon glyphicon-eye-open"></span> Historial
																	</button>
																</div>
															</form>
														</div>
													</div>
												</div>
								
											</div>
											<div class="modal-footer">
												<button class="btn btn-default" data-dismiss="modal">
													Cancelar
												</button>
												<button id= "submitModal" type="submit" class="btn btn-primary">
													Guardar Ticket
												</button>
											</div>
											
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
							</form>
			</div>
			<!-- END MAIN PANEL -->