		<!-- MAIN PANEL -->
		<div role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span> 
				</span>

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="/home">Inicio</a></li><li>Ver activos</li>			
                </ol>
                <!-- end breadcrumb -->
                <span class="ribbon-button-alignment pull-right">
                    <a href="/assets/new"><span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-lg fa-plus-square-o"></i> Crear Activo</span></a>
                </span> 	
				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-table fa-fw "></i> 
								Activos 
							<span>> 
                                Todos
							</span>
						</h1>
					</div>
				</div>
				
				<!-- widget grid -->
				<section id="widget-grid" class="">
				
					<!-- row -->
					<div class="row">
				
						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">				
				
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Activos</h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
				
										<table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
					
									        <thead>
									            <tr>
								                    <th data-class="expand">No. Activo</th>
								                    <th>Nombre</th>
								                    <th data-hide="phone">Modelo</th>
								                    <th data-hide="phone">Marca</th>
								                    <th data-hide="phone,tablet">Tipo</th>
													<th data-hide="phone,tablet">Tienda</th>
								                    <th data-hide="phone,tablet">Fecha de creación</th>
									            </tr>
									        </thead>
				
									        <tbody>
                                                
                                                {{#each assets}}
												<tr>
                                                    <td><a class="edit-store" href="/assets/asset_details?ID={{id}}">
													{{number}}</a></td>
                                                    <td> {{name}}</td>													
                                                    <td> {{reference_id.model}}</td>
                                                    <td> {{reference_id.brand}}</td>
                                                    <td> {{reference_id.type}}</td>
													<td><a href="/stores/store_details?ID={{store_id.id}}"> {{store_id.storeName}}</a></td>
                                                    <td> {{formatDate created_on "DD/MM/YYYY HH:mm"}}</td>
													</tr>
                                                {{/each}}
                                                
									        </tbody>
									
										</table>
				
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
							<!-- end widget -->			
						</article>
						<!-- WIDGET END -->
				
					</div>
				
					<!-- end row -->
				
					<!-- end row -->
				
				</section>
				<!-- end widget grid -->

			</div>
			<!-- END MAIN CONTENT -->
				<!-- Ticket Info Modal -->
				<form method ="post" action="/store/edit">
					<div class="modal fade" id="storeEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								
									<input type="hidden" id="edit-store-id" name="storeID">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="myModalLabel">Información de Tienda</h4>
									</div>
									<div>
										
									</div>
									<div class="modal-body">
										<!--Ticket No. ---<o>--- Titulo del Ticket-->
										<div class="row">
											<div class = "col-md-6">
												<div class="form-group">
													<label for="storeNameModal"><small><b>Nombre de tienda:</b></small></label>
													<input type="text" class="form-control" placeholder="Nombre de la tienda" required name="storeNameModal" id="edit-store-name" align="center"/>
												</div>
											</div>
											<div class = "col-md-6">
												<div class="form-group">
													<label for="city_idModal"><small><b>Ciudad:</b></small></label>
													<section class="col col-3">
														<label required class="select" style="width: 290px;">
															<select class="select2" name="city_idModal" id ="edit-store-city" style ="height: 32px !important;" required>
																{{#each cities}}
																	<option value="{{id}}">{{city}}</option>
																{{/each}}
															</select> <i></i> </label>
													</section>
												</div>
											</div>	
										</div>
										<!--Fecha Inicio ---<o>--- Last Update-->
										<div class="row">
											<div class = "col-md-6">
												<div class="form-group">
													<label for="addressModal"><small><b>Dirección:</b></small></label>
													<input type="text" class="form-control" placeholder="Dirección de Tienda" required name="addressModal" id="edit-store-address"/>
												</div>										
											</div>										
											<div class = "col-md-6">
												<div class="form-group">
													<label for="phoneModal"><small><b>Teléfono:</b></small></label>
													<input type="text" class="form-control" placeholder="Teléfono de Tienda" data-mask="(999)999-9999" required name="phoneModal" id="edit-store-phone" />
												</div>
											</div>
										</div>
										<!--Tienda ---<o>--- Ciudad-->
										<div class="row">
											<div class = "col-md-6">
												<div class="form-group">
													<label for="emailModal"><small><b>E-mail:</b></small></label>
													<input type="email" class="form-control" placeholder="Correo Electrónico de Tienda" required name="email" id="edit-store-email" />
												</div>										
											</div>										
											<div class = "col-md-6">
												<div class="form-group">
													<label for="representativeModal"><small><b>Encargado de Tienda:</b></small></label>
													<section class="col col-3">
														<label class="select" style="width: 290px;">
															<select class="select2" name="representativeModal" id="edit-store-representative" style ="height: 32px !important;">															
																{{#each users}}
																	<option value="{{id}}">{{name}} {{lastname}} - {{username}}</option>
																{{/each}}
															</select> <i></i> </label>
													</section>												
												</div>												
											</div>
										</div>
										<div>
										<p><small>Tienda creada el: <input type="text" name="startdateModal" id="edit-store-startdate" disabled style="border: 0"/></small></p>
										</div>											
									</div>
									<div>
						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Empleados de la tienda</h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
				
										<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
											<thead>			                
												<tr>
													<th data-hide="username">Username</th>
													<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Nombre</th>
													<th data-hide="city"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Ciudad</th>						
												</tr>
											</thead>
											<tbody>
												{{#each users}}
													<tr>
														<td>{{username}}</td>
														<td>{{name}} {{lastname}}</td>
														<td>{{city_id.city}}</td>
													</tr>
												{{/each}}
											</tbody>
										</table>

									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
							<!-- end widget -->				
						</article>
						<!-- WIDGET END -->										
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Cerrar
										</button>
										<button id= "submitModal" type="submit" class="btn btn-primary">
											Editar
										</button>
									</div>
									
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</form>
				
		</div>
		<!-- END MAIN PANEL -->